<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
    <meta charset="UTF-8"/>
    <title>Административная панель</title>
</head>
<body>
<h1>Список пользователей</h1>
<table>
    <tbody th:each="user : ${users}">
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:each="role : ${user.roles}">
           <p th:text="${role.role} "></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>