<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
    <meta charset="UTF-8"/>
    <title>Административная панель</title>
</head>
<body>
<header style="text-align: right;">
    <div th:if="${currentUser}">
        <span th:text="${currentUser.getUsername()}"></span>
        <a href="/logout">Выйти</a>
    </div>
    <div th:unless="${currentUser}">
        <a href="/login">Войти  </a>
        <a href="/reg">Регистрация</a>
    </div>
</header>
<h1>Список пользователей</h1>
<table>
    <tbody th:each="user : ${users}">
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:each="role : ${user.roles}">
           <p th:text="${role.role} "></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>