<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${hookah.manufacturer.name + ' ' + hookah.name}"></title>
</head>
<body>
<header style="text-align: right;">
    <div th:if="${currentUser}">
        <span th:text="${currentUser.getUsername()}"></span>
        <a href="/logout">Выйти</a>
    </div>
    <div th:unless="${currentUser}">
        <a href="/login">Войти  </a>
        <a href="/reg">Регистрация</a>
    </div>
</header>
<h1 th:text="${hookah.manufacturer.name + ' ' + hookah.name}"></h1>
<p th:text="${hookah.description}"></p>
<table>
    <tr>
        <td>
            Цена:
        </td>
        <td th:text="${hookah.price} + ' руб.'"></td>
    </tr>
    <tr>
        <td>
            Колба:
        </td>
        <td th:text="${hookah.bottle.name + ' ' + hookah.bottle.volume}"></td>
    </tr>
</table>
</body>
</html>