<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Мир кальянов</title>
</head>
<body>
<header style="text-align: right;">
    <div th:if="${currentUser}">
        <span th:text="${currentUser.getUsername()}"></span>
        <a href="/logout">Выйти</a>
    </div>
    <div th:unless="${currentUser}">
        <a href="/login">Войти  </a>
        <a href="/reg">Регистрация</a>
    </div>
</header>
<h1>Добро пожаловать</h1>
<ul>
    <li>
        <a href="/hookahs">Все кальяны</a>
    </li>
    <li>
        <a href="/models">Производители</a>
    </li>
</ul>
</body>
</html>