<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register_page.css}"/>
    <meta charset="UTF-8"/>
    <title>Авторизация</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <p>Авторизация</p>
        <form class="login-form" th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="name"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">login</button>
        </form>
    </div>
</div>
</body>
</html>