<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register_page.css}"/>
    <meta charset="UTF-8"/>
    <title>Регистрация</title>
</head>
<body>
    <div class="login-page" th:inline="text">
        <div th:if="${user != null}">Вы зарегистрированы, [[${user.username}]] </div>
        <div class="form" th:unless="${user != null}">
            <p>Регистрация</p>
            <form class="login-form" th:action="@{/reg}" method="post">
                <input type="text" name="username" placeholder="name"/>
                <input type="password" name="password" placeholder="password"/>
                <button type="submit">create</button>
            </form>
        </div>
    </div>
</body>
</html>